@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*::before::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.4;
    font-size: 1.8rem;
}

header {
    display:block;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(30,30,176,0.9250383435582822) 100%);    
    color: white;
    position: fixed;
    width: 100%;
    text-align: center;
    justify-content: flex-end;
    align-items:center;
}

header ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    height: 100%;
    margin:0;
    margin-right: 1em; 
}

header ul li a {
    display: block;
    font-size: 2rem;
    padding:0.3em 0.5em;
}

header ul li a:hover {
    display: block;
    background: #020202;
    align-self:center;
    transform: translateX(2px);
}

a {
    text-decoration: none;
    color: white;
}

#welcome-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);    
    text-align: center;
    font-size: 30px;
}

h1 {
    color: #f4f4f4;
    margin: 0;
    padding-top: 30px;
    font-size: 50px;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}

#welcome-section p {
    color:  rgba(0,212,255,1) ;
    font-size: 30px;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}

#projects {
    align-content: center;
    padding: 10rem 2rem;
    text-align: center;
    background-color:#71c5e8;
}

#projects h2{
    max-width: 640px;    
    margin: 0 auto 4rem auto;
    color:white;
    border-bottom: solid 0.2rem white;
}

#projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));;
    grid-gap: 1rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.project-tile {
    margin-bottom: 20px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    width: 100%;
    max-width: 1280px;
}

.project-image {
    height: calc(100% - 6.25rem);
    width: 100%;
    object-fit: cover;
}

.project-tile a {
    text-decoration: none;
}

.project-tile p {
    color:white;
}


.project-tile p:hover {
    color:white;
    font-size: 1.5rem;
}

.styleTestProject {
    display:flex;
    justify-content: center;
    align-items:center;
    font-size: 1.5rem;
    color:#71c5e8;
}

.styleTestProject:hover {
    color:white;
    transition-duration: 0.5s;
}

.show-all {
    color:white;
    width: 6em;
    font-size: 2rem;
    padding: 0.5rem 0.7rem;
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    transition: background 0.3s ease-out;
    text-decoration: none;
    font-family: "Merriweather", serif;
}

.show-all a {
    font-size: 10px;
}

.show-all:hover{
    background: blue;
}

.show-all:hover>i{
    transform: translateX(5px);
    transition-duration: 500ms;
}

.show-all:not(:hover)>i{
    transform: translateX(0px);
    transition-duration: 500ms;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #f4f4f4;
    background-color: #303841;;
    border-bottom: solid rgba(255, 0, 0, 0.644) 5px;
    list-style-type: none;
    text-align: center;
    height: 80vh;
    padding: 20px 0;
    font-size: 1.8rem;
}

#contact h2{
    max-width: 450px;
    font-size: 40px;
    margin: 0 auto 0 auto;
    color:white;
}

ul {
    padding: 0;
}

#container-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#contact a{
    justify-content: center;
    list-style-type: none;
    text-decoration: none;
    padding: 1rem 2rem;

}

#contact a {
    list-style-type: none;
    text-decoration: none;
    color: #f4f4f4;
}

#contact a i {
    padding-right: 7px;
}

.profile-link:hover {
    transform: translateY(8px);
}

.profile-link {
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;  
}

footer {
    display: flex;
    text-align: center;
    padding: 20px;
    background-color: #303841;
    color: #f4f4f4;
    justify-content: flex-end;
}

@media screen and (max-width: 768px) {
    #projects-grid {
        width: 100%;
        margin: 0 auto;
    }
}
